*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;

background:
linear-gradient(
180deg,
#ff758f,
#ffb3c1,
#fff0f3
);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;
}

.container{

background:white;

width:100%;
max-width:450px;

padding:25px;

border-radius:25px;

text-align:center;

box-shadow:
0 0 20px rgba(0,0,0,.15);
}

h1{

color:#ff4d6d;

margin-bottom:15px;
}

p{

margin-bottom:20px;
}

input{

width:100%;

padding:12px;

border-radius:10px;

border:1px solid #ccc;

margin-top:15px;
}

button{

margin-top:15px;

padding:12px 20px;

border:none;

border-radius:10px;

background:#ff4d6d;

color:white;

cursor:pointer;
}

button:hover{

opacity:.9;
}

#resultado{

margin-top:25px;

color:#d6336c;
}

.heart{
    position: fixed;
    top: -20px;
    font-size: 25px;
    animation: cair 4s linear forwards;
    pointer-events: none;
    z-index: 9999;
}

@keyframes cair{
    from{
        transform: translateY(-20px);
        opacity: 1;
    }

    to{
        transform: translateY(110vh);
        opacity: 0;
    }
}